/* Resetting default styles for all elements */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Setting the height of the html and body to 100% */
html, body {
    height: 100%;
}

/* Styling for the body element */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Styling for the header section */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styling for the h1 element within the header */
h1 {
    margin: 0;
}

/* Styling for the main section */
main {
    flex: 1;
    margin: 20px;
}

/* Styling for the calendar section */
.calendar {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Styling for the header within the calendar section */
.calendar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Styling for the buttons within the calendar header */
.calendar header button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Styling for the table within the calendar section */
.calendar table {
    width: 100%;
    height: 50vh;
}

/* Styling for the table header cells */
.calendar th {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.calendar td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .calendar td:hover {
    background-color: #f2f2f2;
  }
  

/* Styling for the footer section */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

/* Styling for the current day's date paragraph */
#currentDayDate {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .calendar {
      font-size: 14px;
    }
  
    .calendar-btn {
      font-size: 20px;
      padding: 8px 12px;
    }
  
    .calendar th,
    .calendar td {
      padding: 5px;
    }
  }
  


.current-day-date {
    font-size: 24px;
    margin-bottom: 20px;
  }
  

  .calendar-btn {
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  